---
http_interactions:
- request:
    method: get
    uri: https://uc.qbox.me/v1/query?ak=masked-access-key&bucket=baklib
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Log:
      - redis.g;redis.g;BUCKET
      X-Reqid:
      - "-U0AALpdoOHg9AkX"
    body:
      encoding: UTF-8
      string: '{"ttl":86400,"http":{"api":["http://api-z2.qiniu.com"],"io":["http://iovip-z2.qbox.me"],"rs":["http://rs-z2.qiniu.com"],"rsf":["http://rsf-z2.qiniu.com"],"uc":["http://uc.qbox.me"],"up":["http://up-z2.qiniu.com","http://upload-z2.qiniu.com","-H
        up-z2.qiniu.com http://14.29.110.6"]},"https":{"api":["https://api-z2.qiniu.com"],"io":["https://iovip-z2.qbox.me"],"rs":["https://rs-z2.qbox.me"],"rsf":["https://rsf-z2.qbox.me"],"uc":["https://uc.qbox.me"],"up":["https://up-z2.qbox.me","https://upload-z2.qbox.me"]}}'
  recorded_at: Wed, 10 Aug 2022 10:26:24 GMT
recorded_with: VCR 6.1.0
